# Local terraform state directories and parameters
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
.vscode/
# Allow tracking environment configurations inside our project matrix folders
!projects/**/*.tfvars
